#prp_selector{
  position: relative;
  top: -1em;
/*  font-size: smaller; */
  font-size: x-large;
}
#prp_selector ul{
  vertical-align: center;
}
#prp_selector li{
  float:left;
  list-style-type: none;
  margin: 0.3em ! important;
}

#tr_list th{
    text-align: left;
    font-size: larger;
}

#tr_list tr{ margin-bottom: 15px; }

#tr_list td{
    vertical-align: top;
}


.tr_odd {background: #DDD} 
.tr_even{background: #EEE} 

.prp_serial,
.prp_title{
   font-weight: bold;
}

.prp_serial{
    background: transparent !important;
    text-align: left !important; 
    white-space: nowrap !important; 
    margin-right:20px;
}

.prp_publisher{
    width:25%;
}

.prp_authors{
   font-style: italic;
}

.prp_reserved{
   color: crimson !important;
}

.prp_canceled{
   color: darkgrey !important;
   text-decoration: line-through ! important;
}


